.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.form {
    width: 960px;
}

.add-hall {
    padding-top: 120px;
}

.form-title {
    background-color: #63536C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 42px;
}

.title {
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

.form-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #EAE9EBF2;
    padding: 35px 0;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

.input-label {
    font-size: 12px;
    color: #848484;
    margin-bottom: 2px;
}

.form-input {
    border: 1px solid #B7B7B7;
    padding: 9px;
    color: #757575;
    font-size: 16px;
    width: 750px;
}

.action-list {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-top: 34px;
}

.action-list .btn {
    width: 194px;
}

.btn.white {
    background-color: #fff;
    color: #63536C;
    width: 139px;
}

.form-input.textarea {
    min-height: 80px;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .form {
        width: 768px;
    }

    .popup .container {
        margin: 0;
    }

    .login-form {
        padding: 0 7px 0 7px;
    }

    .form-section::before {
        left: 7.25%;
    }
}

@media (max-width: 390px) {
    .form-block {
        padding: 0;
    }

    .form, .login-form {
        width: 390px;
    }

    .form-input {
        width: 370px;
    }

    .login-form {
        padding: 16px 10px 35px 10px;
    }

    .action-list {
        flex-direction: column;
        align-items: center;
    }

    .btn.white {
        width: 200px;
    }
}