main .container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.form {
    width: 480px;
}

.form-title {
    background-color: #63536C;
    padding: 16px;

}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

.login-form {
    max-width: 272px;
}

.form-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #EAE9EBF2;
    padding: 35px 0;
}

.form-block .btn {
    width: 189px;
    height: 40px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
    width: 272px;
}

.input-label {
    font-size: 12px;
    color: #848484;
    margin-bottom: 2px;
}

.form-input {
    border: 1px solid #B7B7B7;
    padding: 9px;
    color: #757575;
    font-size: 16px;
}

@media (max-width: 768px) {
    .header {
        padding: 14px;
    }
}

@media (max-width: 390px) {
    .header {
        padding: 14px !important;
    }

    .logo {
        margin: unset;
    }
}