.btn-header {
    margin-right: 14px;
}

.dates {
    margin-bottom: 40px;
}

.dates-list {
    display: flex;
    gap: 1px;
    align-items: center;
}

.date-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    width: 125px;
    height: 48px;
    padding: 11px 20px;
    background-color: #fff;
    opacity: .9;
    border-radius: 2px;
    cursor: pointer;

}

.date-item p {
    font-size: 12px;
}

.date-item.active {
    padding: 8px 20px;
    opacity: 1;
    width: 241px;
    height: 52px;
}

.date-item.active p {
    font-size: 15px;
    font-weight: 700;
}

.date-item.weekends {
    color: #FF0000;
}

.date-item.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.films-list {
    display: block;
    align-items: center;  
}

.film-item {
    display: block;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #F1EBE6;
    opacity: .95;
    border-radius: 2px;
}

.film-info {
    display: flex;
    gap: 20px;
}

.film-image {
    width: 125px;
    height: 175px;
    flex-shrink: 0;
    object-fit: cover;

}

.film-description > div {
    flex: 1;
    padding-bottom: 10px;
}

.film-name {
    font-size: 16px;
    position: relative;
}

.film-name::before {
    content: "";
    position: absolute;
    height: 14px;
    width: 6px;
    background-color: #393939;
    left: -19px;
    top: 0;
}

.film-text, .film-dopinfo {
    font-size: 14px;
    font-weight: 400;
}

.film-dopinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    font-weight: 300;
}

.hall {
    margin-top: 5px;
    font-weight: 600;
}

.second {
    margin-top: 20px; 
}

.time-list {
    margin-top: 7px;
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.time-item {
    padding: 8px;
    font-size: 15px;
    background-color: #fff;
    text-decoration: none;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .date-item {
        flex: 1 1 auto;
        min-width: 48px;
        max-width: 100px;
        height: 48px;
    }

    .date-item.active {
        min-width: 75px;
        max-width: 187px;
        height: 52px;
    }

    .date-item.today {
        flex: 0 1 auto;
        min-width: 66px;
        max-width: 100px;
    }
}

@media (max-width: 390px) {
    .logo-img {
        min-width: 20px;
        max-width: 180px;
    }

    .date-item {
        flex: 1 1 auto;
        min-width: 40px;
        max-width: 80px;
        height: 40px;
    }

    .date-item p {
        font-size: 9px;
    }

    .date-item.active p {
        font-size: 10px;
        font-weight: 600;
    }

    .date-item.active {
        min-width: 60px;
        max-width: 80px;
        height: 48px;
    }

    .date-item.today {
        flex: 0 1 auto;
        min-width: 40px;
        max-width: 80px;
    }

    .film-name::before {
        content: "";
        position: absolute;
        height: 14px;
        width: 6px;
        background-color: #393939;
        left: -19px;
        top: 0;
    }

    .film-description {
        max-width: 220px;
    }
}