body {
    background-color: #C56D01;
    background-image: url("../assets/images/main-bg.jpg");
    background-repeat: no-repeat;
    background-position: center -280px;
    background-size: cover;
    background-attachment: fixed;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 14px 0;
}

.logo {
    padding-left: 14px;
}

.book-ticket {
    padding: 20px 15px 35px 15px;
    background-color: #F1EBE6;
    opacity: 0.95;
    position: relative;
}

.book-ticket::before {
    content: "";
    background-image: url(../assets/images/before.png);
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    top: -3px;
    left: 0;
}

.book-ticket::after {
    content: "";
    background-image: url(../assets/images/after.png);
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: -3px;
    left: 0;
}

.ticket-top {
    background-color: #F1EBE6;
    opacity: 0.95;
    padding: 25px 15px;
    margin-bottom: 6px;
    position: relative;
}

.ticket-top::before {
    content: "";
    background-image: url(../assets/images/before.png);
    position: absolute;
    height: 3px;
    width: 100%;
    top: -3px;
    left: 0;
}

.ticket-top::after {
    content: "";
    background-image: url(../assets/images/after.png);
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: -3px;
    left: 0;
}

.ticket-top h3 {
    color: #C76F00;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}

.ticket-center {
    margin-bottom: 10px;
    position: relative;
}

.ticket-text {
    margin-bottom: 10px;
}

.ticket-text span {
    font-weight: 700;
}

.ticket-bottom p {
    font-weight: 300;
    font-size: 14px;
    position: relative;
}

.ticket-bottom p:first-child {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    body {
        background-position: right top;
        background-size: 140%;
    }

    .book-ticket {
        padding: 20px 15px 30px;
    }
}

@media (max-width: 390px) {
    body {
        background-size: 180%;
    }

    .book-ticket {
        margin-bottom: 160px;
    }
}